/* -------------------------------------------------------------------
IMPORTS
------------------------------------------------------------------- */
@import "../../../main/variables.scss";
@import "../../../main/mixins.scss";


/* -------------------------------------------------------------------
AUTRES DEFINITIONS
------------------------------------------------------------------- */
#content{
	position:relative;
	float:left;
	top:310px;
	width:100%;
	z-index:1;
}