/* -------------------------------------------------------------------
IMPORTS
------------------------------------------------------------------- */
@import "../../../main/variables.scss";
@import "../../../main/mixins.scss";


/* -------------------------------------------------------------------
AUTRES DEFINITIONS
------------------------------------------------------------------- */
.lineContent{
	position:relative;
	float:left;
	width:100%;
	height:100px;
	cursor:pointer;
	border-top:1px solid #ffffff;

	.num{
		position:relative;
		float:left;
		top:10px;
		width:76px;
		height:76px;
		font-family:"helveticaneue-ultraligcond";
		font-size:50px;
		line-height:76px;
		font-weight:normal;
		text-align:center;
		text-transform:uppercase;
		margin:0 40px;

		.text{
			width:76px;
			height:76px;
			display:table-cell;
			vertical-align:middle;
		}
	}

	.info{
		position:relative;
		float:left;
		width:70%;

		.contentInfo{
			height:100px;
			display:table-cell;
			vertical-align:middle;

			.hashtag{
				font-family:Arial, Helvetica, sans-serif;
				font-size:46px;
				line-height:46px;
				font-weight:bold;
				display:block;
			}

			.text{
				font-family:Arial, Helvetica, sans-serif;
				font-size:18px;
				line-height:20px;
				font-weight:normal;
				font-style:italic;
				display:block;
			}

			.picto{
				position:absolute;
				right:40px;
				width:40px;
				height:100%;
			}
			.loader{
				position:absolute;
				right:40px;
				width:40px;
				height:100%;
				display:none;
			}
		}
	}
}
.lineContent:nth-child(odd){
	color:#ffffff;
	background:#2abe8b;

	.num{
		border:2px solid #ffffff;
	}

	.picto{
		position:absolute;
		right:40px;
		width:40px;
		height:100%;
		background:url("../../../main/images/btn_play_white.png") no-repeat left center;
		background-size:40px 45px;
	}

	.loader{
		position:absolute;
		right:40px;
		width:40px;
		height:100%;
		background:url("../../../main/images/picto_sound_white.png") no-repeat left center;
		background-size:40px 40px;
		display:none;
	}
}
.lineContent:nth-child(even){
	color:#013a26;
	background:#c9fbea;

	.num{
		border:2px solid #013a26;
	}

	.picto{
		position:absolute;
		right:40px;
		width:40px;
		height:100%;
		background:url("../../../main/images/btn_play_green.png") no-repeat left center;
		background-size:40px 45px;
	}

	.loader{
		position:absolute;
		right:40px;
		width:40px;
		height:100%;
		background:url("../../../main/images/picto_sound_green.png") no-repeat left center;
		background-size:40px 40px;
		display:none;
	}
}
.lineContent:nth-child(even):hover{
	color:#ffffff;

	.num{
		border:2px solid #ffffff;
	}

	.picto{
		position:absolute;
		right:40px;
		width:40px;
		height:100%;
		background:url("../../../main/images/btn_play_white.png") no-repeat left center;
		background-size:40px 45px;
	}

	.loader{
		position:absolute;
		right:40px;
		width:40px;
		height:100%;
		background:url("../../../main/images/picto_sound_white.png") no-repeat left center;
		background-size:40px 40px;
		display:none;
	}
}
.lineContent:hover{
	background:#013a26;
}